{% extends 'base.html.twig' %}

{% block title %}
    Modification d'une annonce
{% endblock %}

{# Traiter le theme _collection, fichier commun à plusieurs tpl (edit et new) #}
{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modifier l'annonce : <em>{{ ad.title }}</em></h1>
        
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {# Bouton valider ajout de l'annonce #}
        <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {# <script src="./assets/js/ad.js"></script> #}
    {# Le build du ad.js se fait bien et le fichier est appelé mais les fonctions ne tournent pas sur le site... donc entrer chemin en dur ci-dessus en attendant de résoudre #}
    <script src="{{ asset('build/js/ad.js') }}"></script>
    {‌{ encore_entry_script_tags('app') }} {# solution donné sur le forum de la formation mais ne fonctionne pas avec les lignes ajoutees en addEntry dans webpack.config.... #}
{% endblock %}